In [34]:
import pandas as pd

In [35]:
pd.__version__

'2.2.2'

In [53]:
dict_medidas = {
  'idade': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
  'altura': [1.50, 1.60, 1.70, 1.75, 1.80, 1.80, 1.79, 1.78, 1.77, 1.76],
  'peso': [45, 55, 65, 75, 85, 90, 95, 100, 105, 110]
}

In [54]:
dict_medidas

{'idade': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
 'altura': [1.5, 1.6, 1.7, 1.75, 1.8, 1.8, 1.79, 1.78, 1.77, 1.76],
 'peso': [45, 55, 65, 75, 85, 90, 95, 100, 105, 110]}

In [55]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)
df_medidas

   idade  altura  peso
0     10    1.50    45
1     15    1.60    55
2     20    1.70    65
3     25    1.75    75
4     30    1.80    85
5     35    1.80    90
6     40    1.79    95
7     45    1.78   100
8     50    1.77   105
9     55    1.76   110

# Correção de dados

### Quando não especificamos uma variável, assume-se que queremos calcular a correlação entre todas as variáveis do dataframe (idade,altura,peso).

In [56]:
# Correlação do DataFrame segundo Pearson
df_medidas.corr(method='pearson')

           idade    altura      peso
idade   1.000000  0.746266  0.984955
altura  0.746266  1.000000  0.847409
peso    0.984955  0.847409  1.000000

In [57]:
# Correlação do DataFrame segundo Spearman
df_medidas.corr(method='spearman')

           idade    altura      peso
idade   1.000000  0.583589  1.000000
altura  0.583589  1.000000  0.583589
peso    1.000000  0.583589  1.000000