In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
dict_medidas = {
  'idade': [12,14,25,30,50,50,60,70,80,90],
  'altura': [1.60,1.70,1.80,1.90,2.00,2.10,2.20,2.30,2.40,2.50],
  'peso': [60,70,80,90,100,110,120,130,140,150]
}

In [4]:
dict_medidas

{'idade': [12, 14, 25, 30, 50, 50, 60, 70, 80, 90],
 'altura': [1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5],
 'peso': [60, 70, 80, 90, 100, 110, 120, 130, 140, 150]}

In [7]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)
df_medidas

   idade  altura  peso
0     12     1.6    60
1     14     1.7    70
2     25     1.8    80
3     30     1.9    90
4     50     2.0   100
5     50     2.1   110
6     60     2.2   120
7     70     2.3   130
8     80     2.4   140
9     90     2.5   150

# Medidas Resumo
## Medidas de Dispersão
### Variância

In [15]:

# colocamos em colchetes quando o nome do atributo do dataframe contém espaços ou outros caracteres
df_medidas["idade"].var()
# outra forma mais simples de fazer
df_medidas.idade.var()

np.float64(747.6555555555556)

### Desvio padrão

In [16]:
df_medidas.idade.std()

np.float64(27.343290869161223)

### Coeficiente de variação

In [17]:
df_medidas.idade.std()/df_medidas.idade.mean() * 100

np.float64(56.84675856374475)

In [18]:
df_medidas.altura.std()/df_medidas.altura.mean() * 100

np.float64(14.769026117548739)